:root {
  --color-background: #f0f0f0;
  --color-gold: #8c7132;
  --color-burgundy: #620000;
  --color-blue: #2b498f;
}

@font-face {
  font-family: Leckerli One;
  src: url(/fonts/LeckerliOne-Regular.ttf);
}

@font-face {
  font-family: Libre Bodoni;
  src: url(/fonts/LibreBodoni-VariableFont_wght.ttf);
}

h1 {
  justify-self: center;
  font-family: ;
}

h2 {
  font-family: ;
}

h3 {
  font-family: Leckerli One;
  /* font-weight: bold; */
  background: linear-gradient(
    90deg,
    #b3865f 6.5%,
    #d7a94c 36%,
    #d6ae4d 52.5%,
    #dcd38b 76%,
    #c3923d 84.5%
  );
  font-size: 80px;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  /* the background-clip is so it applies to the text
  the transparent part is so the text is transparent
  and the bg gradient shows
  and inline-block is to prevent possible problems where gradient
  doesn't appear right */
  margin-bottom: 2%;
  margin-top: 2%;
}

h4 {
  font-family: Libre Bodoni;
  color: var(--color-gold);
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 0;
}

.certificate p {
  font-family: Libre Bodoni;
  color: var(--color-gold);
  font-size: 25px;
}

.container-h2 {
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

main {
  /* border: 2px solid red; */
}

.main-aside-container {
  /* border: 2px solid pink; */
  display: flex;
  justify-content: space-between;
  /* justify-content: space-around; */
}

.certificate {
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  width: 70rem;
  /* margin-left: 5%; */
}

.cert-sect-1-2 {
  border: 2px solid var(--color-gold);
  margin: 3%;
  background-image: url(/images/vector-gold-tleft.png),
    url(/images/vector-gold-tright.png), url(/images/vector-gold-bleft.png), url(/images/vector-gold-bright.png);
  background-position: top left, top right, bottom left, bottom right;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-size: 15%;
}

.cert-section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#presented-to-txt {
  margin-bottom: 8%;
}

.cert-section1 hr {
  border: 1.5px solid var(--color-gold);
  width: 50%;
}

.cert-section2 {
  /* border: 2px solid blue; */
  margin-bottom: 4%;
}

.row1 img {
  height: 230px;
  /* margin: 0 10%; */
  /* border: 2px solid hotpink; */
}

.row1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 10%;
  /* border: 2px solid hotpink; */
}

.row2 {
  display: flex;
  justify-content: space-between;
  /* margin: 0 10%; */
  /* border: 2px solid hotpink; */
}

.row1 hr, .row2 hr {
  border: 1.5px solid var(--color-gold);
  width: 25%;
}

aside {
  /* border: 2px solid blue; */
}